.ViewVote {
  margin: 10px;
}

.VoteProgress {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.VoteProgressNum {
  margin-left: 20px;
  margin-right: 15px;
  width: 60px;
}

.VoteBox {
  width: 400px;
  margin: 10px;
}
