@font-face {
  font-family: "iconfont"; /* Project id 2601881 */
  src: url('iconfont.woff2?t=1646451761644') format('woff2'),
       url('iconfont.woff?t=1646451761644') format('woff'),
       url('iconfont.ttf?t=1646451761644') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shanchu1:before {
  content: "\e671";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-baocun1:before {
  content: "\e67c";
}

.icon-shanchu2:before {
  content: "\e638";
}

.icon-shanchu3:before {
  content: "\e660";
}

.icon-baocun2:before {
  content: "\e635";
}

.icon-edit-o:before {
  content: "\e649";
}

.icon-huixuanjiantou-1:before {
  content: "\e68c";
}

.icon-huixuanjiantou:before {
  content: "\e68d";
}

.icon-xiangpi:before {
  content: "\e63d";
}

.icon-rubber:before {
  content: "\ea15";
}

.icon-qianbipencil84:before {
  content: "\e6a5";
}

.icon-bianji_o:before {
  content: "\eb49";
}

.icon-24gl-rectangle:before {
  content: "\ea98";
}

.icon-juxing2:before {
  content: "\e636";
}

.icon-qianbi:before {
  content: "\e623";
}

.icon-polygon:before {
  content: "\e6af";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-bianji1:before {
  content: "\e601";
}

.icon-bianji2:before {
  content: "\eabd";
}

.icon-tuoyuanxing:before {
  content: "\e790";
}

.icon-juxing:before {
  content: "\e620";
}

.icon-hengxiangzhexiantu:before {
  content: "\e621";
}

.icon-hengxiangzhexiantu1:before {
  content: "\e627";
}

.icon-juxing1:before {
  content: "\e609";
}

.icon-tx-tuoyuanxing:before {
  content: "\e64f";
}

.icon-zhexian:before {
  content: "\edf8";
}

.icon-tuoyuan:before {
  content: "\edf9";
}

.icon-huatu:before {
  content: "\e6d0";
}

.icon-huatu1:before {
  content: "\e641";
}

.icon-zhexian1:before {
  content: "\ee42";
}

.icon-cart-full:before {
  content: "\e746";
}

.icon-weixiu:before {
  content: "\e602";
}

.icon-aichegujiabeifen7:before {
  content: "\e604";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-browse:before {
  content: "\e667";
}

.icon-bottom:before {
  content: "\e668";
}

.icon-arrow-double-left:before {
  content: "\e669";
}

.icon-arrow-double-right:before {
  content: "\e66a";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-direction-left:before {
  content: "\e66e";
}

.icon-download:before {
  content: "\e66f";
}

.icon-fabulous:before {
  content: "\e670";
}

.icon-filter:before {
  content: "\e672";
}

.icon-notification:before {
  content: "\e679";
}

.icon-search:before {
  content: "\e67d";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e687";
}

.icon-arrow-down-bold:before {
  content: "\e688";
}

.icon-minus-bold:before {
  content: "\e689";
}

.icon-arrow-right-bold:before {
  content: "\e68a";
}

.icon-select-bold:before {
  content: "\e68b";
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62f";
}

